body{
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 300px 700px 300px;
    background-color: #04082c;
    align-items: center;
    width: auto;
    height: 110px;
    text-align: center;
    justify-content: center;
}
/*
.divLogo{
    border: yellow;
    border-width: 2px;
    border-style: solid;
}
.divTituloRegistro{
    border: rgb(81, 164, 219);
    border-width: 2px;
    border-style: solid; 
}
.divbtnAceptadas{
    border: rgb(20, 218, 53);
    border-width: 2px;
    border-style: solid; 
}
*/
.divBusqueda{
    display: grid;
    grid-template-columns: 300px 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.inputBuscar{
    height:add(5rem, input-height-border);
    line-height:1.25;
    padding:3rem;
    padding-top:1.625rem;
    padding-block:.625rem;
    height:30px;
    width: 250px;
    transform:scale(.85) translateY(-.5rem) translateX(.15rem);
    color:gray-300;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    font-size: 16px;
    border-radius: 50px;
    border: transparent;
    background-color: #E3E3E3;  
    text-align: center; 
}
.btnBuscar{
    width: 40px;
    height: 40px;
    background: url(../img/__buscar.png) no-repeat center center;
    background-size: contain;
    text-indent: -9999px; /* Ocultar el texto del botón */
    border: transparent;
    cursor: pointer;
}
.btnAceptadas{
    height:40px;
    width: 230px;
    border: transparent;
    font-size: 16px;
    border-radius: 50px;;
    background-color: #A5728A;  
    text-align: center; 
    color: white; 
    cursor: pointer; 
}

.imgLogo{
    width: auto;
    height: 70px;
}
h3{
    color: #ffffff;
    font-family: sans-serif;
    src: url(../font/AvenirLTStd-Book.otf);
    font-size: 25px;
    text-align: center;
}
.divTabla{
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.contenedorTabla {
    width: 100%;
    max-width: 1100px;
    overflow-x: auto;
}

table {
    color: #04082c;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: rgba(29, 12, 23, 0.4);
    color: #ffffff;
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

tr {
    height: 50px; /* Ajusta este valor */
}

td {
    width: 100px; /* Ajusta este valor */
    padding: 12px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody tr {
    cursor: pointer;
    background-color: #E3E3E3;
}

tbody tr:hover {
    background: rgba(227, 227, 227, 0.308);
}
